* {
    margin: 0 auto;
    background-color: F5F8FF;
}

/* Fonts */

.noto-serif-headings {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-paragraphs {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */
.indulge {
    color: rgba(0, 0, 0, 0.5);
}

.gray {
     color: gray;
}

.orange {
    color: #E95A08;
}

.btn-primary {
    width: 100%;
    padding: 19px 50px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #E95A08
}

/* nav styles */
nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.menu-items {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.home, .shop, .about-us, .cart {
    list-style: none;
}

.home>a, .shop>a, .about-us>a, .cart>a {
    text-decoration: none;
    color: black;
}

.home>a {
    color: #252432;
}

.shop>a, .about-us>a {
    color: #8987A1;
}

/* Banner styles */

.banner {
    margin: 120px 150px;
    display: flex;
    justify-content: safe;
    align-items: end;
}

/* Our Plants styles */

.plants {
    margin-left: 150px;
    margin-right: 150px;
}

.our-plants {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.our-plants-content {
    margin-top: 16px;
    margin-left: 126px;
    margin-right: 126px;
    margin-bottom: 49px;
}

.sample-plants {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}

.sample-plants-content {
    text-align: center;
}