* {
    margin: 0 auto;
    background-color: F5F8FF;
}

/* Fonts */

.noto-serif-headings {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-paragraphs {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */
.indulge {
    color: rgba(0, 0, 0, 0.5);
}

.gray {
     color: gray;
}

.orange {
    color: #E95A08;
}

.btn-primary {
    width: 100%;
    padding: 19px 50px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #E95A08
}

/* nav styles */
nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.menu-items {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.home, .shop, .about-us, .cart {
    list-style: none;
}

.home>a, .shop>a, .about-us>a, .cart>a {
    text-decoration: none;
    color: black;
}

.home>a {
    color: #252432;
}

.shop>a, .about-us>a {
    color: #8987A1;
}

/* nav responsive */

@media screen and (max-width: 576px){
    .home, .shop, .about-us {
        display: none;
    }
}

/* Banner styles */

.banner {
    margin: 120px 150px;
    display: flex;
    justify-content: safe;
    align-items: end;
}

.banner>img {
    max-width: 100%;
    max-height: 100%;
}

/* banner responsive */

@media screen and (max-width: 576px){
    .banner {
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }
    .fresh-flowers {
        margin-top: 23px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

/* Our Plants styles */

.plants {
    margin-left: 150px;
    margin-right: 150px;
}

.our-plants {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.our-plants-content {
    margin-top: 16px;
    margin-left: 126px;
    margin-right: 126px;
    margin-bottom: 49px;
}

.sample-plants {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}

.sample-plants>li>img {
    max-width: 100%;
    max-height: 100%;
}

.sample-plants-content {
    text-align: center;
}

/* our plants responsive */

@media screen and (max-width:576px){
    .plants {
        margin-left: 14px;
        margin-right: 17px;
    }
    .sample-plants {
        grid-template-columns: repeat(2, 1fr);
    }
    .our-plants-content {
        margin-left: 28.5px;
        margin-right: 28.5px;
    }
}

/* Plants lover section styles */

.plants-lover-container {
    margin-top: 210px;
    margin-bottom: 133px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.plants-lover-headig {
    margin-bottom: 20px;
}

.plants-lover-contents {
    display: grid;
    grid-template-columns: repeat(1, 1frs);
    gap: 20px;
}

/* plant lover responsive */

@media screen and (max-width: 576px){
    .plants-lover-container {
        margin-left: 17px;
        margin-right: 15px;
        flex-direction: column;
    }
    .plants-lover-container>img {
        max-width: 100%;
        max-height: 100%;
    }
}

/* Latest deals styles */

.latest-deal {
    text-align: center;
    margin-bottom: 120px;
}

.latest-deal-content {
    margin-top: 16px;
    margin-left: 276px;
    margin-right: 276px;
}

/* Latest deals responsive */

@media screen and (max-width: 576px){
    .latest-deal-content {
        margin-left: 28.5px;
        margin-right: 28.5px;
    }
}

/* Flower bloom section styles */

.flower-bloom {
    display: grid;
    justify-items:stretch;
    gap: 28px;
    grid-template-columns: repeat(2, 1fr);
}

.flower-bloom-double {
    display: grid;
    gap: 25px;
}

.flower-bloom-small, .flower-bloom-big {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.bloom-plant, .ana-plant, .zabo-plant {
    color: #FFFFFF;
    border-radius: 10px;
}

.bloom-plant {
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
}

.ana-plant {
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
}

.zabo-plant {
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
}

/* Flower bloom section responsive */

@media screen and (max-width: 576px){
    .flower-bloom {
        grid-template-rows: repeat(1, 1fr);
    }
    .flower-bloom-double {
        grid-template-rows: repeat(1, 1fr);
    }
}

/* Join section styles */

.join {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 533px;
    text-align: center;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
}

.join>div>h2 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 50px;
}

.join>div>div {
    display: flex;
}

.join input[type="email"] {
    width: 644px;
    height: 50px;
    border: none;
}

.join button {
    width: 186px;
    height: 50px;
}

/* Join section responsive */

@media screen and (max-width: 576px){
    .join {
        max-height: 100%;
        max-width: 100%;
    }
    .join input[type="email"] {
        width: 218px;
    }
    .join button {
        width: 103px;
    }
}

/* Footer section styles */

footer {
    margin: 50px 160px;
    display: grid;
    /* justify-content: left; */
    /* align-content:end; */
    /* justify-items: left; */
    justify-self: left;
    grid-template-columns: repeat(4, 1fr);
}

.footer-logo>img {
    margin-bottom: 16px;
}

.footer-content-1 {
    list-style: none;
}

.footer-content-2 {
    list-style: none;
}

.icons {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.icons>li>img {
    margin-left: 24px;
    width: 36px;
    height: 36px;
}

.gray {
    margin-bottom: 32px;
}

/* Footer section responsive */

@media screen and (max-width: 576px){
    footer {
        margin-left: 0;
        margin-right: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-content-1 {
        text-align: left;
    }
}